<a href="https://colab.research.google.com/github/otorregrosa/Coding-Propositional-Logic/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Indentation

In [11]:
if 5>2:
  print("Five is greater than two!")

Five is greater than two!

In [12]:
#This is a comment
print("Hello World")

Hello World

In [13]:
person_a = "John"
print(person_a)

John

In [17]:
x = 1
array =[1,2,3]
print(array,x)

[1, 2, 3] 1
1

In [19]:
a= b= c= "Maria"
print(a)
print(b)
print(c)

Maria
Maria
Maria

In [24]:
n = int(4)
print(n)

4

In [21]:
c = "Sally"
print(type(c))

<class 'str'>

In [27]:
B = "Sally1"
A = 'Sally'
print(A)

Sally

In [28]:
a = 4
A = "Sally"
print(a)

4

In [31]:
x,y,z = "one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

In [32]:
x = y = z = "four"
print(x)
print(y)
print(z)

four
four
four

In [33]:
x = "enjoying"
print("Python programming is "+ x)

Python programming is enjoying

In [34]:
x = "Python is "
y = "enjoying"
z = x + y
print(z)

Python is enjoying

In [37]:
x = 5
y = 3
print (x + y)

x=5
y=3
sum=x+y
sum

8

8

In [38]:
a,b,c=0,-1,6
c%=3
c

0

In [39]:
a,b,c=0,-1,6
a>b and c>b
True

True

In [41]:
a,b,c=0,-1,5
a is c
False

False